<html>
    <body>
        <a href="https://ibb.co/420TdSS"><img src="https://i.ibb.co/jzjMRww/januszex.png" alt="januszex" border="0"></a><br>
            <font size="4" color=#67595E>
                Hello 

                {% if json.name is not none %}
                    {{ json.name|e }}
                {% endif %}
                
                {% if json.surname is not none  %}
                    {{ json.surname|e }}
                {% endif %}
                <br><br>

                Your parcel has been <strong>succesfuly</strong> send 
                {% if json.date is not none %}
                    on {{json.date|e}} and it is on the way!
                {% else %}
                    and it is on the way!
                {% endif %}
                <br><br>
                
                {% if json.numberParcel is not none %}
                    Your parcel number is: {{json.numberParcel|e}}<br><br>
                {% endif %}

                {% if json.pin is not none %}
                    Here is your PIN to collect your parcel: {{json.pin|e}}<br><br>
                {% endif %}
                
                {% if json.link is not none %}
                    <a href={{json.link|e}}>Click here to track your parcel!</a><br><br>
                {% endif %}
                
                
            <br></font>
            <font size="5" color=#900020>
            Thank you for choosing the best courier company.<br>
            JanuszeX Courier Company<br>
        </font>
    </body>
</html>