<html>
    <body>
        <a href="https://ibb.co/420TdSS"><img src="https://i.imgur.com/YvRgPkv.png" alt="januszex" width="650" height="300" border="0"></a><br><br>
            <font size="4" color=#67595E>
                Hello,<br>
                Our courier 
                
                {% if json.parcelId is not none %}
                with parcel number: {{json.parcelId|e}}
                {% endif %}
                
                should knock on the 
                
                {% if json.receiver is not none %}
                {{json.receiver|e}} door soon<br>
                {% else %}
                receiver door soon<br>
                {% endif %}
        
                
                {% if json.arrivalDate is not none %}
                Estimeted time of delivery is {{json.arrivalDate|e}}<br><br>
                {% endif %}

                {% if json.parcelId is not none %}
                Here is your link to track your parcel:<a href="https://localhost:4200/tracking-info/{{json.parcelId|e}}">Click here</a><br><br>
                {% endif %}

            Thank you for choosing the best courier company.<br>
            JanuszeX Courier Company<br>
        </font>
    </body>
</html>