<html>
    <body>
        <a href="https://ibb.co/420TdSS"><img src="https://i.imgur.com/YvRgPkv.png" alt="januszex" border="0"></a><br>
                <font size="4" color=#67595E>
                Hello,<br>
                We <strong>registred</strong> new parcle to send 
                
                {% if json.sender is not none %}
                from {{json.sender|e}}
                {% endif %}

                {% if json.receiver is not none %}
                to {{json.receiver|e}}
                {% endif %}
                <br><br>
                {% if json.arrivalDate is not none %}
                Courier will arive to collect parcel on {{json.arrivalDate|e}}<br><br>
                {% endif %}

                {% if json.parcelId is not none %}
                Parcel number is: {{json.parcelId|e}}<br><br>
                {% endif %}

                {% if json.pin is not none %}
                Here is your PIN to collect your parcel: {{json.pin|e}}<br><br>
                {% endif %}
                
                {% if json.parcelId is not none %}
                Here is your link to track your parcel:<a href="https://localhost:4200/tracking-info/{{json.parcelId|e}}">Click here</a><br><br>
                {% endif %}

            Thank you for choosing the best courier company.<br>
            JanuszeX Courier Company<br>
        </font>
    </body>
</html>