<html>
    <body>
        <a href="https://ibb.co/420TdSS"><img src="https://i.imgur.com/YvRgPkv.png" alt="januszex" border="0"></a><br>
            <font size="4" color=#67595E>
                Hello,<br>
                
                Parcel

                {% if json.sender is not none %}
                from {{json.sender|e}}
                {% endif %}

                has just been delivered

                {% if json.receiver is not none %}
                to {{json.receiver|e}}
                {% endif %}
                <br>
                {% if json.parcelId is not none %}
                Parcel number is {{json.parcelId|e}}<br><br>
                {% endif %}

                
                {% if json.parcelId is not none %}
                Here is your link to track your parcel:<a href="https://localhost:4200/tracking-info/{{json.parcelId|e}}">Click here</a><br><br>
                {% endif %}

            Thank you for choosing the best courier company.<br>
            JanuszeX Courier Company<br>
        </font>
    </body>
</html>